@import "tailwindcss";

@theme {
        --color-grass: #78C850;
      --color-poison: #A040A0;
      --color-fire: #F08030;
      --color-water: #6890F0;
      --color-flying: #A890F0;
      --color-bug: #A8B820;
      --color-normal: #A8A878;
        --color-electric: #F8D030;
      --color-ground: #E0C068;
     --color-fairy: #EE99AC;
        --color-fighting: #C03028;
       --color-psychic: #F85888;
    --color-rock: #B8A038;
     --color-ghost: #705898;
   --color-ice: #98D8D8;
      --color-dragon: #7038F8;
    --color-dark: #705848;
     --color-steel: #B8B8D0;
}

h2 {
  font-weight: 800;
  color:rgba(128, 128, 128, 0.8);
  font-size: 1rem;
}

h3 {
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
}